{{ define "main" }}

<article>

    <header id="post-header">
        <h2>{{ .Title }}</h2>
        <h4>{{ .Params.show_source }} | {{ .Params.original_title }}</h4>
    </header>
    
    <p>
    {{ .Params.original_description}}
    </p>

    <!-- Podcast player - not loading (yet) -->
    <div id="player" class="mb-2 mr-2"></div>
    <script src="https://cdn.podlove.org/web-player/5.x/embed.js"></script>
    <script>
    (function(){ 
    var episode = {
        show: {
        title: "{{ .Site.Title}}",
        summary: "{{.Site.Params.podcast.description}}",
        link: ""
        },
        /**
        * Episode related Information
        */
        title: "{{ .Params.episode_number }}. {{ .Params.show_source }} |  {{ .Params.original_title }}",
        subtitle: "",
        summary: "{{ .Params.original_description | plainify }}",
        // ISO 8601 DateTime format, this is capable of adding a time offset, see https://en.wikipedia.org/wiki/ISO_8601
        publicationDate: '{{ .Date.Format "Mon, 02 Jan 2006" }}',
        // ISO 8601 Duration format ([hh]:[mm]:[ss].[sss]), capable of add ing milliseconds, see https://en.wikipedia.org/wiki/ISO_8601
        duration: "{{ .Params.duration }}",
        link:"{{.Permalink}}",

        /**
        * Audio Assets
        * - media Assets played by the audio player
        * - format support depends on the used browser (https://en.wikipedia.org/wiki/HTML5_audio#Supported_audio_coding_formats)
        * - also supports HLS streams
        *
        * Asset
        * - url: absolute path to media asset
        * - size: file size in  byte
        * - (title): title to be displayed in download tab
        * - mimeType: media asset mimeType
        */
        audio: [
        {
            url:"{{.Site.Params.podcast.mp3}}",
            title: "MP3 Audio (mp3)",
            mimeType: "audio/mpeg"
        }
        ],
    };
    
    var config={
        version: 5,
        share: {
        /**
         * Share Channels:
         * - list of available channels in share tab
         */
        channels: [
            "facebook",
            "twitter",
            "mail",
            "link"
        ],
        // share outlet, if not provided embed snippet is not available
        // outlet: "/share.html",
        sharePlaytime: true
        }
    };
    })();
    </script>

    <a href="{{ .Permalink }}">{{ .Date.Format "Jan 2, 2006" }}</a>
    </p>
    <br>
    <br>
    <br>  
    
</article>
{{ end }}
